// Media Queries

@media screen and (max-width: 1125px) {
    .contact-me {
        .contact-methods {
            li {
                i.fas {
                    display: block;
                }
                span {
                    margin-top: 1rem;;
                    font-size: 1rem;
                }
            }
        }
    }
    
}

@media screen and (max-width: 770px) {
        header {
            .nav {
                position: fixed;
                z-index:5;
                .burger {
                    margin-right: 1rem;
                    visibility: visible;
                    z-index: 5;
                    transition: all 0.4s ease;
                    &.close {
                        .line1 {
                            transform: rotate(-45deg) translate(-5px,6px);
                            background-color: $primary-hover;
                        }
                        .line2 {
                            opacity: 0;
                        }
                        .line3 {
                            transform: rotate(45deg) translate(-4px,-5px);
                            background-color: $primary-hover;
                        }
                    }
                }

                .nav-list {
                    position: absolute;
                    top: 5vh;
                    right: 0;
                    width: 40%;
                    height: 95vh;
                    background-color: rgba($secondary-color,0.9);
                    flex-direction: column;
                    z-index: 2;
                    transform: translateX(100%);

                    .nav-item {
                        opacity: 0;
                    }

                    &.active {
                        transform: translateX(0%);
                        transition: all 0.4s ease;

                        @keyframes linksFadein {
                            from{
                                opacity: 0;
                                transform: translateX(50px);
                            } to {
                                opacity: 1;
                                transform: translateX(0px);
                            }
                        }
                    }
                }

            }
        }

        .container {
            .portfolio {
                .projects {
                    flex-direction: column;
                    .project {
                        max-width: auto;
                        margin: 1rem auto;
                    }
                }
            }
    
            .contact-me {
                .contact-methods {
                    flex-direction: column;
    
                    ul {
                        display: flex;
                        justify-content: space-around;
                    }
    
                    .contact-form {
                        margin-top: 0.8rem;;
                        border: none;
                    }
                }
            }
        }
}

    @media screen and (max-width: 550px) {
        header {
            .showcase {
                height: 100vh;
                padding-top: 1rem;
                .showcase-text {
                    padding: 1rem;
                    h1 {
                        font-size: 2rem;
                    }
                    p {
                        font-size: 0.75rem;
                    }
                }
            }
        }

        .container {
            .about-me {
                .section-title {
                    margin-top: 40vh;
                    font-size: 1.5rem;
                }
                .section-showcase {
                    p {
                        font-size: 1.2rem;
                    }
                }
            }

            .portfolio {
                .section-title {
                    font-size: 1.5rem;
                }

                .projects {
                    .project {
                        margin: 1rem 0 0 0;
                        .project-overlay {
                            display: none;
                        }
                    }
                    .project-description {
                        display: block;
                        text-align: center;
                    }
                }
            }

            .contact-me {
                width: 100%;
                text-align: center;
                .section-title {
                    font-size: 1.5rem;
                }
                .contact-methods {
                    li {
                        @include flex-center;
                        flex-direction: column;
                        span {
                            margin-top: 1rem;
                            font-size: 1rem;
                        }
                    }
                }
            }

            footer {
                p {
                    font-size: 0.75rem;
                }
            }
        }
    }

    @media screen and (max-width: 400px) {
        header {

            .showcase {
                .showcase-text {
                    padding-top: 2rem;;
                    h1 {
                        font-size: 1.75rem;
                        margin-bottom: 1rem;
                    }
                    p {
                        font-size: 0.25rem;
                    }
                }
            }
        }

        .container {
            
            .contact-me {
                .section-title {
                    font-size: 1.5rem;
                }
                .contact-methods {
                    ul {
                        flex-direction: column;
                        li {
                            @include flex-center;
                            flex-direction: column;
                            span {
                                margin-top: 1rem;
                                font-size: 0.9rem;
                            }
                        }
                    }
                    .social {
                        justify-content: space-between;
                    }
                }
            }
            footer {
                p {
                    font-size: 0.3rem;
                }
            }
        }
    }
