// Section 3 Contact me
.contact-me {
    padding: 2rem;
    @include flex-center;
    flex-direction: column;
    flex-wrap: wrap;

    .section-title {
        font-size: 2rem;
        color: $secondary-color;
        text-transform: capitalize;
        margin-bottom: 2rem;
    }

    .contact-methods {
        @include flex-center;

        .contact-info {
            flex: 30%;
            @include flex-center;
            flex-direction: column;
            text-align: center;
            .contact-method {
                margin: 1rem;
                font-size: 1.3rem;
            }

            .social {
                margin-top: 1rem;;
                width: 60%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                i.fab {
                    font-size: 2rem;
                    transition: all 1s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.2);
                        color: $primary-hover;
                    }
                }
                
            }

            button {
                display: inline-block;
                width: 7rem;
                padding: 1rem;
                cursor: pointer;
                border: none;
                border-radius: 0.5rem;
                margin: 2rem 1rem 0 0;
                background-color: $primary-hover;
                color: $primary-background-color;
                transition: all 0.5s ease-in-out;

                &:hover {
                    background-color: darken($primary-hover,10%);
                    transform: scale(1.1);
                }
            }
        }
    }

    .contact-form {
        padding: 2rem;
        border-left: 2px solid rgba($secondary-color,0.6);
        input, textarea {
            width: 100%;
            padding: 0.8rem;
            border: 1px solid $primary-hover;
            border-radius: 0.2rem;
            resize: vertical;
            margin: 1rem 0;
        }

        .spam-filter {
            margin-top: 1rem;
        }

        button {
            text-align :center;
            display: inline-block;
            width: 7rem;
            padding: 1rem;
            cursor: pointer;
            border: none;
            border-radius: 0.5rem;
            margin: 2rem 1rem 0 0;
            background-color: $primary-hover;
            color: $primary-background-color;
            transition: all 0.5s ease-in-out;

            button:hover {
                background-color: darken($primary-hover,10%);
                transform: scale(1.1);
            }
        }
    }
}

// Contact me end